@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400&display=swap");
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
}
.navbar {
  display: block;
}
.nav-flx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-imge {
  width: 8%;
}
.logo-imge img {
  width: 100%;
}
.icon {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 10px;
  color: white;
}
.nav-list {
  display: flex;
  gap: 20px;
}

.login-butn {
  font-size: 16px;
  border-radius: 10px;
  background-color: #80a4f7;
  width: 110px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  color: white;
}
.navbar {
  width: 100%;
  background-image: url("image/texture-cold-gray-background-copy-space-generative-ai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  width: 100%;
}

.book-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
}

.book-txt h1 {
  font-size: 44px;
  font-weight: 900;
  color: white;
}
.book-txt h6 {
  font-size: 20px;
  margin-top: 10px;
  color: white;
}
.boknow {
  margin-top: 20px;
}
.booknow-butn {
  padding: 16px 107px;
  background: white;
  color: #7497f6;
  border: none;
  border-radius: 8px;
}
.booknow-butn h4 {
  font-size: 17px;
}
/* ------------------------------------------------banner  */
.banner {
  display: block;
  margin-top: 100px;
}

.banner-flx h2 {
  font-size: 44px;
  color: #1e1e5c;
  text-align: center;
}

/* --------------------------------------------------fourbox  */
.fourbox-flx {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.firstboox {
  display: flex;
  flex-direction: column;
  width: 23%;
  background-color: #6082f2;
  border-radius: 20px;
}
.icn-flx {
  display: flex;
}
.crcle {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #6082f2;
  border: 2px solid;
  border-radius: 100%;
  margin-right: -13px;
  width: 23%;
  background-color: #7497f6;
  border-radius: 10px;
}
.first-box {
  padding: 20px;
}

.crcle-flx {
  display: flex;
}
.circle-wth {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #5654ad;
}
.icon-washing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-washing i {
  color: white;
}
.imagee {
  width: 100px;
}
.imagee img {
  width: 100%;
}

.icon-washing i {
  color: white;
  padding: 20px;
}
.circle-wth2 {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #5654ad;
  margin-left: -10px;
}
.icon-washing2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-washing2 i {
  color: white;
  padding: 20px;
}
.box-imag {
  width: 22%;
  margin-left: 190px;
}
.box-imag img {
  width: 100%;
}
.wash-txt h2 {
  margin-top: 10px;
  color: white;
}
.wash-txt p {
  margin-top: 10px;
  color: white;
}
.button {
  background-color: #a0b7f7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 900;
}
/* '-----------------------------------second box ------------- */
.second-box {
  display: flex;
  flex-direction: column;
  width: 23%;
  background-color: #334a97;
  border-radius: 20px;
}
.button2 {
  background-color: #949fc2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 900;
}

.third-box {
  display: flex;
  flex-direction: column;
  width: 23%;
  border-radius: 20px;
  background-color: #f097d2;
}
.button3 {
  background-color: #e72aa8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 900;
}
/* -------------------------------------------------------------third box  */
.fourth-box {
  display: flex;
  flex-direction: column;
  width: 23%;
  background-color: #e99b9b;
  border-radius: 20px;
}
.button4 {
  background-color: #f01919;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 900;
}
/*------------------------------------ sub-banner */
.sub-banner {
  position: relative;
  display: block;
  margin-top: 80px;
  z-index: 999;

}
.sub-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  transform: rotate(5deg);
  z-index: 666;
  bottom: -210px;
   left:-150px;
  background-color: #e6edfded;
}
.sub-banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
right: -150px;
  transform: rotate(-5deg);
  bottom: -210px;
  background-color: #e6edfd;
  z-index: 666;
}

.sub-banner-flx {
  display: flex;
}
.machine-imag {
  width: 15%;
}
.machine-imag img {
  width: 100%;
}
.schedule-txt {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 30px;
  color: #949fc2;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}
.sign-direction i {
  margin-right: 20px;
}

.informtion-box {
  padding: 10px;
  border-bottom: 1px solid gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttn-two {
  text-align: center;
}
.booknow-butn-two {
  background-color: #6082f2;
  padding: 16px 107px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.booknow-butn-two h4 {
  font-size: 17px;
}
/* <!--------------------------------------------------------------- book service 3 eye steps  --> */
.curv-backimage {
  position: relative;
  display: block;
  z-index: 999;
  margin-top: 80px;
  background-color: #e6edfd;
}
.eye-step h2 {
  font-size: 44px;
  text-align: center;
  color: #1e1e5c;
}
.tree-imag-flxx {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 100px;
}
.imag-ttext {
  display: flex;
  flex-direction: column;
}
.white-circle {
  position: relative;
  width: 200px;
  height: 200px;
  background-color:white;
  border-radius: 100%;
}
.smal-crcle {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #5F81F2;
  border-radius: 100%;
}
.zero-one  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.green
{display: inline-block;
  background-color: pink;
  border-radius:50%;
}
.green h1{
  padding: 30px;
}
.frst-iimage{
  position: absolute;
  left: 91%;
  top: 28%;
  transform: translate(-50%, -50%);
  width: 200px;
}
.frst-iimage img{
width: 100%;
}
.buttn-thre {
  text-align: center;
  margin-bottom: 50px;
}
.booknow-butn-thre {
  background-color: #6082f2;
  padding: 16px 107px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.booknow-butn-thre h4 {
  font-size: 17px;
}
/* <!----------------------------------------------------------------- OUR FEATURES  --> */
.features{
  display: block;
}
.our h2{
  font-size: 44px;
  text-align: center;
  color: #1e1e5c;
}
.frature-flx{
  display: flex;
  border: 2px solid red;
}
.trested-flx{
  display: flex;
  border: 2px solid yellow;
  width: 50%;
}
