@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
}
.navbar {
  display: block;
}
.nav-flx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-imge {
  width: 8%;
}
.logo-imge img {
  width: 100%;
}
.icon {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 10px;
  color: white;
}
.nav-list {
  display: flex;
  gap: 20px;
}

.login-butn {
  font-size: 16px;
  border-radius: 10px;
  background-color: #80a4f7;
  width: 110px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  color: white;
}
.navbar {
  width: 100%;
  background-image: url("image/texture-cold-gray-background-copy-space-generative-ai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  width: 100%;
}

.book-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
}

.book-txt h1 {
  font-size: 44px;
  font-weight: 900;
  color: white;
}
.book-txt h6 {
  font-size: 20px;
  margin-top: 10px;
  color: white;
}
.boknow {
  margin-top: 20px;
}
.booknow-butn {
  padding: 16px 107px;
  background: white;
  color: #7497f6;
  border: none;
  border-radius: 8px;
}
.booknow-butn h4 {
  font-size: 17px;
}
/* ------------------------------------------------banner  */
.banner {
  display: block;
  margin-top: 100px;
}

.banner-flx h2 {
  font-size: 44px;
  color: #1e1e5c;
  text-align: center;
}

/* --------------------------------------------------fourbox  */
.fourbox-flx {
  display: flex;
  justify-content: space-between;
}
.firstboox{
  display: flex;
  flex-direction: column;
  width: 23%;
  background-color: #7497f6;
  border-radius: 10px;
 
}
.first-box {
  padding: 20px;
  
}

.crcle-flx {
  display: flex;
  
}
.circle-wth{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #5654AD;
 
}
.icon-washing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-washing i{
  color: white;
  padding: 20px;
}
.circle-wth2{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #5654AD;
  margin-left: -10px;

}
.icon-washing2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-washing2 i{
  color: white;
  padding: 20px;
}
.box-imag {
  width: 22%;
  margin-left: 190px;
  
}
.box-imag img{
  width: 100%;
}
.wash-txt h2{
margin-top:10px;
color: white;
}
.wash-txt p{
  margin-top:10px;
  color: white;
  }
  .button {
    background-color:#A0B7F7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 900;
  }
  /* '-----------------------------------second box ------------- */
 
/* -------------------------------------------------------------third box  */
  

