@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,700&display=swap");

body {
  font-family: "PT Serif", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
}
.navbar {
  display: block;
}
.nav-flx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-imge {
  width: 8%;
}
.logo-imge img {
  width: 100%;
}
.icon {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 10px;
  color: white;
}
.nav-list {
  display: flex;
  gap: 20px;
}

.login-butn {
  font-size: 16px;
  border-radius: 10px;
  background-color: #80a4f7;
  width: 110px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  color: white;
}
.navbar {
  width: 100%;
  background-image: url("image/texture-cold-gray-background-copy-space-generative-ai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  width: 100%;
}

.book-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
}

.book-txt h1 {
  font-size: 44px;
  font-weight: 900;
  color: white;
}
.book-txt h6 {
  font-size: 20px;
  margin-top: 10px;
  color: white;
}
.boknow {
  margin-top: 20px;
}
.booknow-butn {
  padding: 16px 107px;
  background: white;
  color: #7497f6;
  border: none;
  border-radius: 8px;
}
.booknow-butn h4 {
  font-size: 17px;
}
/* ------------------------------------------------banner  */
.banner {
  display: block;
  margin-top: 100px;
}
/* .banner-flx {
  display: flex;
  flex-direction: column;
} */
.banner-flx h2 {
  font-size: 44px;
  color: #1e1e5c;
  text-align: center;
}
.foursection-flx {
  display: flex;
  border: 2px solid red;
  width: 25%;
  background-color: #7ca0f7;
}
.wash-fold-colu {
  display: flex;
  flex-direction: column;
  height: 300px;
}
.icn-flx {
  display: flex;
}
.crcle {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #6082f2;
  border: 2px solid;
  border-radius: 100%;
  margin-right: -13px;
}
.icon-washing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-washing i {
  color: white;
}
.imagee {
  width: 100px;
}
.imagee img {
  width: 100%;
}
